<div>
  <div class="pagetitle">
    <h1>Créer un ticket</h1>
  </div><!-- End Page Title -->

  <section class="section">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="row">
      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="card">
            <div class="card-body">
              <!-- General Form Elements -->
                <input type="hidden" required [value]="authorId" name="author_id" id="author_id">
                <div class="row my-3">
                  <div class="col-sm-12">
                    <label for="form-label">Titre:</label>
                    <input #title="ngModel" name="title" required type="text" 
                      [(ngModel)]="ticket.title" class="form-control" placeholder="Ex: Test de fonctionnalité">
                      <small class="text-danger" *ngIf="(title.touched || form.submitted) && title.invalid">Title is required</small>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-12">
                    <label for="content" class="form-label">Description:</label>
                    <textarea #content="ngModel" name="content" 
                    required placeholder="Description..." class="form-control" style="height: 100px" [(ngModel)]="ticket.content"></textarea>
                    <small class="text-danger" *ngIf="(content.touched || form.submitted) && content.invalid">
                      Veuillez entrer une description
                    </small>
                  </div>
                </div><!-- End General Form Elements -->

            </div>
          </div>

        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-10">
                  <label class="col-form-label">Tag</label>
                  <select #tag="ngModel" [(ngModel)]="tagId" name="tagid" required class="form-select" aria-label="Default select example">
                    <option *ngFor="let tag of tags" [value]="tag.id">{{tag.label}}</option>
                  </select>
                  <small class="text-danger" *ngIf="(tag.touched || form.submitted) && tag.invalid">Selectionner un tag</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <button class="btn btn-lg btn-primary" type="submit">Créer</button>
        </div>
      </div>
    </form>
  </section>
</div>
